{% extends "base.html" %}

{% block content %}
  <head>
    <title>Get Started</title>
    <style>
        body {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: white;
        }
    </style>
  </head>
  <div style="background-color: black; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center;">
      <h1 style="color: white; font-size: 4em; font-family: Arial, sans-serif; margin: 0;">Spotify Predictions</h1>
      <h2 style="color: white; font-size: 2em; font-family: Arial, sans-serif; margin: 0; margin-top: 20px;">Find New Music</h2>
      <button style="background-color: green; color: white; font-size: 1.5em; font-family: Arial, sans-serif; border-radius: 5px; padding: 10px 20px; border: none; margin-top: 20px;"><a href="{% url 'survey' %}">Get Started</a></button>
    </div>
  </div>
{% endblock %}